<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Stats</title>
  </head>
    <h2>General stats about the sightings</h2>
    <ul>
      <li>Total number of sightings: {{a}}</li>
      <br>
      <li>Minimum latitiude: {{b.min_latitude}}</li>
      <li>Maximum latitiude: {{b.max_latitude}}</li>
      <li>Average latitiude：{{b.average_latitude}}</li>
      <br>
      <li>Minimum longitude：{{c.min_longitude}}</li>
      <li>Maximum longitude：{{c.max_longitude}}</li>
      <li>Average longitude：{{c.average_longitude}}</li>
      <br>
      <li>Shift: {{d}}</li>
      <br>
      <li>Age: {{e}}</li>
      <br>
      <li>Primary fur color: {{f}}</li></ul>
  </body>

</html>
